html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,li,p,ul, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

main {
    background-image: url('./../img/bg.png');
}

button:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

button:active {
    opacity: 0.5;
}